# 사방넷 WMS 로그인 정보
SABANG_COMPANY_CODE=D8432
SABANG_ID=your_id
SABANG_PASSWORD=your_password
SABANG_MEMBER_ID=53

# Google Sheet 적재 대상
SHEET_ID=1DgNOjaVD0OvVbxWmrZZZsO7VW8dhuvzqD0HOd6mioHQ
SHEET_TAB=WMS재고
